#demo-dashboard {
	.col-sm, .col-sm-6 {
		padding: 0 !important;
	}
	.card, .panel {
		margin: 4px;
	}
	.card-header, .panel-heading {
		font-weight: bold;
		color: #418cf0;
	}
	.card-body, .panel-body {
		padding: 0;
	}
}